# =======================
# Python
# =======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =======================
# Django
# =======================
db.sqlite3
*.log
staticfiles/
media/

# تجاهل مجلدات الترجمات التلقائية
locale/*/LC_MESSAGES/*.mo
locale/*/LC_MESSAGES/*.po

# تجاهل ملفات البيئة
.env
*.env

# =======================
# Virtual Environment
# =======================
venv/
env/
.venv/

# =======================
# Migrations (اختياري)
# لو ما عايز ترفع ملفات الهجرة
# =======================
*/migrations/__pycache__/
*/migrations/*.py

# =======================
# IDE/Editors
# =======================
.vscode/
.idea/

# =======================
# OS System Files
# =======================
.DS_Store
Thumbs.db

# =======================
# Others
# =======================
*.sqlite3
*.bak
*.tmp
